.myExperience {
  //    border: $border2;
  .stack {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 2em;
    div {
      display: flex;
      flex-direction: column;
      padding: 2em;
      width: 300px;
      gap: 0.5em;

      h4 {
        align-self: center;
        font-family: "Centra-Medium";
      }
      ul {
        list-style: none;
        padding: 0;
        line-height: 2em;
      }
    }
  }
}
