.myProjects {
  //    border: $border3;
  .projectsCarousel {
    width: 100%;
    img {
      border-radius: 1em;
      aspect-ratio: 1;
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
    .carouselCaption {
      // border: $border3;
      background: $GF8;
      border-radius: 1em;
      color: $GF5;
      padding: 2em;
      a {
        text-decoration: none;
        h4 {
          font-family: "Centra-Bold", sans-serif;
          background: linear-gradient(90.21deg, $GF2, $GF1 90.58%);
          background-size: contain;
          color: transparent;
          -moz-background-clip: text;
          -webkit-background-clip: text;
          transition: all 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
            background: linear-gradient(90.21deg, $GF1, $GF2 90.58%);
            background-size: contain;
            color: transparent;
            -moz-background-clip: text;
            -webkit-background-clip: text;
            transform: scale(1.1);
          }
        }
      }
      ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 0;
        li {
          font-style: italic;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .myProjects {
    .projectsCarousel {
      .carouselCaption {
        font-size: 0.75em;
        padding: 0.25em;
      }
    }
  }
}
