footer {
    //    border: $border1; 
        min-height: 3em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center; 
        padding-top: 1em;      
        padding-right: 1.5em;
        font-size: small;          
    }