.navigation {
    //    border: $border1; 
        height: 4em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: .5em 1.5em;
        position: sticky;
        top: 0; 
        background: $GF7;
        z-index: 1; 
        gap: 1em;
       a {
        text-decoration: none;
       }        
    }