.main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  > * {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20em;
  }
  .sectionHeader {
    margin-bottom: 1em;
    padding: 0 0.5em;
    font-family: "Centra-Bold", sans-serif;
    background: linear-gradient(90.21deg, $GF0, $GF1 90.58%);
    background-size: contain;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      background: linear-gradient(90.21deg, $GF1, $GF0 90.58%);
      background-size: contain;
      color: transparent;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      transform: scale(1.1);
    }
  }
  .goFurther {
    padding-top: 1em;
    font-size: 2em;
    opacity: 60%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 100%;
      transform: scale(1.1);
    }
  }
}

.toTop {
  background: none !important;
  font-size: 2em;
  opacity: 60%;
  color: $GF0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 100%;
    transform: scale(1.1);
  }
}

.cardStyle {
  border-radius: 1em;
  background: $GF2;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(15px 10px 10px $GF8);
  &:hover {
    cursor: pointer;
    background: $GF8;
    color: $GF2;
    filter: drop-shadow(15px 10px 10px $GF2);
  }
}

@media only screen and (max-width: 1500px) {
  .main {
    > * {
      padding: 0 5em;
    }
  }
}

@media only screen and (max-width: 450px) {
  .main {
    > * {
      padding: 0 2em;
    }
  }
}
