.contactMe {
  //    border: $border2;
  .contact {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: .75em;
    a {
      text-decoration: none;
      color: inherit;
    }
    .contactOption {
      display: flex;
      flex-direction: column;      
      width: 250px;
      min-height: 150px;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      padding: 1em;
      text-align: center;      
      .contactIcon {
        font-size: 2.5em;
      }
      h5 {
        padding: 0;
        margin: 0;
      }
      p {
        padding: 0;
        margin: 0;
        font-size: small;
      }
    }
  }
}
