.contactMe {
  //    border: $border2;
  .contact {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .contactOption {
      display: flex;
      flex-direction: column;
      border-radius: 10%;
      background: $GF2;
      width: 250px;
      min-height: 150px;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      padding: 1em;
      text-align: center;
      &:hover {
        border: 1px solid $GF1;
        background: none;
      }
      .contactIcon {
        font-size: 2.5em;
      }
      h5 {
        padding: 0;
        margin: 0;
      }
      p {
        padding: 0;
        margin: 0;
        font-size: small;
      }
    }
  }
}
