.aboutMe {
  > * {
    //    border: $border1;
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: space-between;
    align-items: center;
    img {
      border-radius: 50%;
      width: 20em;
      transition: all 0.3s ease-in-out;
      filter: drop-shadow(20px 15px 20px $GF3);
      &:hover {
        transform: scale(1.1);
        rotate: -10deg;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .aboutMe {
    > * {
      flex-direction: column;
      img {
        width: 8em;
      }
    }
  }
}
